<%- include('partials/_header') %>



<section class="course_section layout_padding-bottom" style="background: white;">
  <div class="container">
  <div class="heading_container heading_center">
    <h2>
    EVENTOS
    </h2>
   
  </div>
  </div>
  <div id="customCarousel2" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="container">
      <div class="box">
      <div class="img-box">
        <img src="images/IMG_3504.jpg" alt="">
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-9 mx-auto">
        <div class="detail-box">
          <h3>
          Node
          </h3>
          <p>
          Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
          </p>
          <a href="#">
          Leer mas
          </a>
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="carousel-item">
    <div class="container">
      <div class="box">
      <div class="img-box">
        <img src="images/IMG_3504.jpg" alt="">
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-9 mx-auto">
        <div class="detail-box">
          <h3>
          Node with React
          </h3>
          <p>
          Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
          </p>
          <a href="#">
          Leer mas
          </a>
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="carousel-item">
    <div class="container">
      <div class="box">
      <div class="img-box">
        <img src="images/IMG_3504.jpg" alt="">
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-9 mx-auto">
        <div class="detail-box">
          <h3>
          Node with React
          </h3>
          <p>
          Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
          </p>
          <a href="#">
          Leer mas
          </a>
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
  <div class="carousel_btn-box">
    <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</section>
